{% extends "site_base.html" %}
{% block head_title %}Home{% endblock %}

{% block body %}
<h1>My Artwork Inventory</h1>

<div class="grid" class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>
    {% for artwork in artworks %}
    <div class="grid-float grid-item {{ artwork.artworkview_set.first.getMasonryCss }}" style="border:1px solid black;">
        <a href="{% url 'artwork-update' artwork.id %}">
            <img src="{{ artwork.artworkview_set.first.image.url }}" width="100%">
        </a>
    </div>
{{ artwork.artworkview_set.first.image.width }}
    {% endfor %}
</div>


{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
{% endblock %}
