{% extends "site_base.html" %}
{% block head_title %}Home{% endblock %}
{% load bootstrap_tags %}

{% block body %}
<div class="container">
        <div class="row">
                <div class="col-md-12">
                        <h1>{{ artwork.name }}</h1>
                </div>
        </div>
        <div class="row">
                <div class="col-md-5">
                        <img src="" />
                </div>
                <div class="col-md-7">
                        <form method="POST">
                                <legend>My Form</legend>
                                {% csrf_token %}
                                {{ form | as_bootstrap }}
                                <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                        </form>
                </div>
        </div>
</div>
{% endblock %}
